@import url('https://fonts.googleapis.com/css?family=Catamaran:600');

body {
    font-family: 'Catamaran', sans-serif;
    background-color: #888;
}

.flex-container {
    display: flex;
}

.page {
    flex-direction: column;
    width: 100%;
}

.page header {
    padding: 8px 20px 5px 20px;
    background-color: white;
    margin-bottom: 10px;
}

.content {
    justify-content: center;
}

.main {
    flex-direction: column;
    flex-grow: 4;
    font-size: large;
    max-width: 600px;
}

.main footer {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
}

.sidebar {
    flex-grow: 1;
    min-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.statsView {
    padding-left: 5px;
    border: 2px solid;
    background-color: #AAA;
}

.statsView ul {
    list-style-type: none;
    padding: 0px;
}

.questView .text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.questView .buttonBar {
    justify-content: space-around;
}

.questView button {
    flex-bases: 0;
    width: 200px;
}

.clickableLink {
    display: inline-block;
}

.main footer .clickableLink {
    margin-right: 10px;
}

.main footer a {
    color: #333;
}

.main footer a:hover {
    color: white;
}

button {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.warningList {
    background: light-red;
}
