@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i');

.flex-container {
    display: flex;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Crimson Text', serif;
    background-color: #36082e;
}

#root {
    height: 100%;
}

.content {
    /* Center sidebars and center column within flex container (flex direction is row by default). */
    justify-content: center;
}

.sidebar {
    flex-grow: 1;   /* Relative size within .content flex container. */
    width: 300px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar .clickableLink a {
    color: white;
    line-height: 1.5em;
}

.main {
    flex-grow: 4;   /* Relative size within .content flex container. */
}

#background {
    position: absolute;
    margin-top: 20px;       /* To get offset from the top. */
    margin-left: -300px;    /* To get image to center around #game area. */
    z-index: -1;            /* To get background behind #game area. */
}

#game {
    position: absolute;
    margin-left: 20px;
    max-width: 360px;
    z-index: 0;
}


/* Stats view */

.statsView {
    justify-content: space-between;
}

.statsView .stat {
    display: inline-block;
    width: 64px;
    height: 96px;
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
}

.statsView .stat.valueLow {
    background-color: red;
    color: white;
    border-color: white;
}

.statsView .stat.valueZero {
    background-color: black;
    color: white;
    border-color: white;
}

.statsView .stat .statName img {
    width: 50%;
}

.statsView .stat .statValue {
    display: block;
    font-size: 48px;
}


/* Quest view */

.questView .text {
    padding-top: 140px;
    padding-bottom: 40px;
    min-height: 200px;          /* This makes the buttons appear at the same position underneath the text. */
    font-size: 28px;
}

.questView .buttonBar {
    min-height: 380px;          /* This puts the footer underneath the background image. */
}

.questView button {
    background-color: black;
    color: white;
    min-width: 360px;
    margin-bottom: 16px;
}

.questView button.death {
    background-color: black;
    color: white;
    border-color: white;
}


/* Footer */

.footer {
    color: #888;
    margin: 0 auto;
    text-align: center;
    font-size: large;
}

.footer div.buttonBar {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.footer .clickableLink:first-child {
    margin-right: 10px;
}

.footer a {
    color: #888;
}

.footer a:hover {
    color: white;
}

.footer p {
    margin-top: 8px;
}


/* Debug functionality */

.debug {
    font-family: sans-serif;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 15px 5px 20px;
}

.debug h3 {
    margin-top: 0px;
}

.debug ul {
    margin-top: 0px;
    list-style-type: none;
    padding: 0px;
}

.warningList {
    background: lightred;
}


/* About view */

.aboutView {
    color: #888;
    font-size: larger;
    line-height: 1.5em;
}

.aboutView a {
    color: lightblue;
}


/* General elements */

.clickableLink {
    display: inline-block;
}

button {
    display: inline-block;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}


/* Drop the sidebars on narrow screens. Crude but it works. */

@media all and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
