@import url('https://fonts.googleapis.com/css?family=Catamaran:600');

body {
    font-family: 'Catamaran', sans-serif;
    background-color: #888;
}

.flex-container {
    display: flex;
}

.page {
    flex-direction: column;
    width: 100%;
}

.page header {
    padding: 8px 20px 5px 20px;
    background-color: white;
    margin-bottom: 10px;
}

.content {
    justify-content: center;
}

.main {
    flex-direction: column;
    flex-grow: 4;
    font-size: large;
    max-width: 400px;
    min-height: 400px;
}

.main footer {
    align-self: flex-end;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
}

.sidebar {
    flex-grow: 1;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.statsView {
    justify-content: space-between;
}

.statsView .stat {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 2px solid;
    background-color: #aaa;
    text-align: center;
}

.statsView .stat.valueLow {
    background-color: red;
    color: white;
    border-color: white;
}

.statsView .stat.valueZero {
    background-color: black;
    color: white;
    border-color: white;
}

.statsView .stat .statValue {
    display: block;
    margin-top: 10px;
    font-size: 32px;
}

.statsView .stat .statName {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    text-transform: uppercase;
}

.questView .text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.questView .buttonBar {
    justify-content: space-around;
}

.questView button {
    flex-bases: 0;
    min-width: 180px;
}

.questView button.death {
    background-color: black;
    color: white;
    border-color: white;
}

.clickableLink {
    display: inline-block;
}

.main footer .clickableLink {
    margin-right: 10px;
}

.main footer a {
    color: #333;
}

.main footer a:hover {
    color: white;
}

button {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.debugTagsView ul {
    margin-top: 0px;
    list-style-type: none;
    padding: 0px;
}

.debugStatsView ul {
    margin-top: 0px;
    list-style-type: none;
    padding: 0px;
}

.warningList {
    background: lightred;
}
